{% extends "/layouts/main.html" %}

{% block title%}
    signup page
{% endblock%}


{% block content%}
<div class="container">
    <form action="/user/register" class="form " id="createAccount" method="POST">
        
       <h1 class="form__title">Create Account</h1>
       <div class="form__message form__message--error"></div>

       <div class="form__input-group">
           <input type="text" name="fullname" id="signupUsername" class="form__input" autofocus placeholder="Username">
           <div class="form__input-error-message"></div>
       </div>
       <div class="form__input-group">
           <input type="email" name="email" class="form__input" autofocus placeholder="Email Address">
           <div class="form__input-error-message"></div>
       </div>
       <div class="form__input-group">
           <input type="password" name="password" class="form__input" autofocus placeholder="Password">
           <div class="form__input-error-message"></div>
       </div>
       <div class="form__input-group">
           <input type="password" name="passwordConfirm" class="form__input" autofocus placeholder="Confirm password">
           <div class="form__input-error-message"></div>
       </div>

       <label for="isCreator">Are you a creator?</label>
       <input type="checkbox" id="isCreator" name="isCreator" value="publisher"><br><br>


       <button class="form__button" type="submit">Continue</button>
       <p class="form__text">
           <a class="form__link" href="/user/login" id="linkLogin">Already have an account? Sign in</a>
       </p>
   </form>
</div>
{% endblock%}